body{
    background-color: #8137e6;
    color : #5c0aa2;
}
    
h1 {
    font
    width: 500px;
    margin: auto auto;
    text-align: center;
   padding-top: 50px;
     border: 5px solid #000;
    border-color: #5c0aa2;
    border-style:double;
    border-spacing: inherit
}

#fondecran {
 /* Fixe l'image en haut à gauche de la page */
 position: fixed; 
 top: 5; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 50%;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 250px;
}
.box1 {
  grid-column-start:5; 
  grid-column-end: 5; 
  grid-row-start: 3;
  grid-row-end: 4;
}