body{
    background-color: rgb(243,247,224);
    color : #776c3d;
}


h1 {
    font
    width: 500px;
    margin: auto auto;
    text-align: center;
   padding-top: 50px;  
    border: 5px solid #000;
    border-color: #776c3d;
    border-style:double;
    border-spacing: inherit;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 250px;
}
.box1 {
  grid-column-start:1; 
  grid-column-end: 4; 
  grid-row-start: 2;
  grid-row-end: 4;
}
.box2 {
  grid-column-start: 3;
  grid-column-end: 2; 
  grid-row-start: 2;
  grid-row-end:4;
}
