@font-face{
   font-family: "StayHome";
   font-weight: normal;
   src: url('../typo/STAY-HOME.ttf') format("truetype");
   
}
body{
    
    background-color:black;
}

h1{
    color:azure;
    font-family:StayHome;
    font-weight:lighter;
    width: 70vh;
    font-size: 7em;
    padding: 7rem;
    margin:20px auto;
    text-align: center;
}
h2{
    color:azure;
    font-family:StayHome;
    font-weight:lighter;
    width: 120vh;
    font-size: 5em;
    padding: 7rem;
    margin:20px auto;
    text-align: center;
}


p{
     width: 50vh;
    font-size: 1em;
    padding:0px;
    margin:-10px auto;
    text-align: center;
    
}    
p2{
     width: 50vh;
    font-size: 1em;
    padding:0px;
    margin:-10px auto;
    text-align: center;
    
}    
a{
    overflow: hidden;
    box-shadow: 0 0 10px rgb(255, 255, 255, 1);
    border: 0;
    line-height: 2.5;
    padding: 0 40px;
    font-size: 2rem;
    text-align: center;
    color: #000;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}
a1{
    overflow: hidden;
    box-shadow: 0 0 10px rgb(255, 255, 255, 1);
    border: 0;
    line-height: 2.5;
    padding: 0 30px;
    font-size: 2rem;
    text-align: center;
    color: #000;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}


}
