@font-face {
    src: url('PressStart2P-Regular.ttf');
    font-family: pixel;
}

body {
    font-family: pixel;
    color: #7A4B3B;
}

h1 {
    font-size: 40px;
}

a {
    font-size: 15px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    cursor: url('images/x32curs.png'), auto;
}

#mask {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.mask--page1 {
    background-image: url('images/mask_pixel.png');
}

.mask--popups {
    background-image: url('images/nmask_pixel_pop.png');
}