body {
    padding: 0;
    margin: 0;
    position: relative;
}
div.parent{
    position: relative;
}
div.lien {
    margin-left: 20%;
}
.drop{
    position: absolute;
}
.flowerLayer{   
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
