@font-face {
    font-family: 'BalsamiqSans-Regular';
    src: url('fonts/BalsamiqSans-Regular.woff2') format('woff2'),
         url('fonts/BalsamiqSans-Regular.woff') format('woff'),
         url('fonts/BalsamiqSans-Regular.ttf')  format('truetype');
  }  

h1 {
    font-family: 'BalsamiqSans-Regular';
    font-size: 40px;
}
h2 {
    font-family: 'BalsamiqSans-Regular';
    font-size: 15px;
    text-align: right;
}
.h2L{
    text-align: left;
}
.h2R{
    text-align:right;
}