#pop{
    opacity: 0;
transition: opacity 1s;
        
}
#pop:hover{
    opacity: 1.0;
    
}

.flotte{ 

    float: left; 
}
body{ 
 
    text-align: center; 
     background-color: rgb(241,238,226);

    font-family: "Leo hates school";
    
}

h1{
   
    text-align: center; 

    font-size: 45px ; 
    font-family: "Leo hates school", sans-serif; 
    
}

h2 {
    
    text-align: center;
    font-size: 30px ; 

}

a:link {
   background-color: transparent; 
    color: black; 
        text-decoration: none
}

a:active{  

    color : rgb(252,10,238); 