#pop{
    opacity: 0;
transition: opacity 1s;
        
}
#pop:hover{
    opacity: 1.0;
}

a:link {
   background-color: transparent; 
        color: rgb(1,63,208);
        text-decoration: none
}

a:active{  

    color : rgb(252,10,238); 
}



body {
        font-family: "Leo hates school";
   background-color: rgb(241,238,226);
      color: rgb (1,63,208); 
}

h1{ 
    font-family: "Leo hates school" ;
      background-color: rgb(241,238,226);
  text-align: center; 
    font-size: 40;
    
}

h2{
    
    text-align: center;
}


